.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(185, 185, 185);
  padding: 0 px;
  margin-top: -5px;
}

.logo-img {
  height: 150px;
  width: 150px;
  position: relative; 
  z-index: 2; 
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 5px;
  padding: 5px;
  background-color: #ffffff; 
  color: white;
  border-radius: 5px;
}

.nav-links li {
  margin-left: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-left: 200px;
  position: relative;
  margin-top: 0px;
}

.dot {
  height: 170px;
  width: 220px;
  background-color: rgb(185, 185, 185);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  margin-top: 30px;
}
