.spacer {
  padding-top: 50px;
  background-color: rgb(250, 241, 228); 

}

.recipeDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(250, 241, 228); 
  color: rgb(67, 83, 52); 
}

.recipeDetails {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  background-color: rgb(206, 222, 189);
  border-radius: 5px;
}

.recipeDetails h2 {
  margin-top: 30px;
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeDetails img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttonContainerRecipeDetails {
  display: flex;
  margin-top: 0px;
  width: 100%;
  background-color: rgb(250, 241, 228);
  justify-content: flex-start;
  padding: 0px 20px;
}

.buttonContainerRecipeDetails button,
.buttonContainerRecipeDetails a {
  padding: 5px 20px;
  background-color: rgb(158, 179, 132);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.buttonContainerRecipeDetails button:hover,
.buttonContainerRecipeDetails a:hover {
  background-color: rgb(206, 222, 189);
}